.vscode/*
tempCodeRunnerFile.py
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/python.iml
/.idea/vcs.xml
/.idea/python-algorithms.iml
/.idea/codeStyles/codeStyleConfig.xml
